article section div
{
    margin: 1.5em 0;
    font-size: 1.3em;
}

article section div i
{
    margin-right: 1em;
    color: var(--color-text-secondary);
    
}

article section div span
{
    margin-right: 1em;
    color: var(--color-text);   
}